{% extends "template.html" %}
{% block title %} Home {% endblock %}
{% block content %} 

<br/>
<head>

    <script type="text/javascript">
    
    var msg = new Array
    
    function randomIntFromInterval(min, max) { // generate a random number from list
      return Math.floor(Math.random() * (max - min + 1) + min)
    }
    
    var today = randomIntFromInterval(1, 10)
    
    msg[1] = "There are no seagulls in Hawaii";
    msg[2] = "Feral pigs ate and completely destroyed $22,000 worth of cocaine that had been hidden in an Italian forest.";
    msg[3] = "Scientists believe that early human ancestors used to have three eyelids. One of the eyelids eventually became the small fold in the corner of human eyes today.";
    msg[4] = "Capitonyms are words which change their meaning if the first letter is capitalized. For example: Turkey (the country) and turkey (the bird).";
    msg[5] = "Killing a dolphin in ancient Greece was considered sacrilegious and was punishable by death.";
    msg[6] = "When the first consistent phone service was established in 1878, Alexander Graham Bell suggested answering the phone with 'ahoy.'";
    msg[7] = "Leonardo Da Vinci's 'Mona Lisa' has her own mailbox at the Louvre because of all the love letters she receives.";
    msg[8] = "Riding or sitting on a sea turtle in the United States is a 3rd degree felony.";
    msg[9] = "Listening to your favorite music for just 15 minutes a day lowers stress levels, anxiety, sadness, and a depressed mood.";
    msg[10] = "Even though dragonflies have six legs, they cannot walk.";
    
    function writeMessage() { 
    document.write(msg[today]);
    }
    
    </script>
    </head>
    
    <body>
    
    <strong>Daily Message:</strong>  
    
    <script>
    writeMessage();
    </script>
    
    </body>
    <br/>

<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>
<br/>

{% endblock %}